body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #0056b3;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #0056b3;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #004494;
}


/* Carousel index.html css */
.ReccomendedBooksCarousel{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    
   
}
.ReccomendedBooksCarousel img{
    width: 30%;
    display: none;
    margin: 0 auto;
    

}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 2s;
}
.ReccomendedBooksCarousel button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 9px 12px;
    background-color: hsla(122, 74%, 19%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prevCarousel{
    left: 170px;
}
.nextCarousel{
    right: 170px;

}
