body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1,h3 {
    color: #4b9149;

}

h1 {
    text-align: center;
}

h2 {
    font-weight: bold;
}

/* nav bar */

#logoHome{
    color: #4b9149;
}

#logoHome:hover {
    color: #3b7439;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

.navbar-nav .nav-item.nav-link:hover {
    color: #4b9149; 
}


.navbar-toggler {
    border: none;
}

#navIcon {
    font-size: 1.2rem; 
    width: 20px; 
}

#navIcon:hover {
    color: #4b9149;
}



#login:hover , #logout:hover {
    color: rgb(254, 122, 122);
}


.mainGreeting {
    position: relative;
    width: 100%;
    max-width: 2000px; 
    margin: 0 auto; 
    overflow: hidden;
    height: 210px;
}

.bannerImage {
    display: block;
    width: 100%;
} 

.mainText-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
}


.mainText-container h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-bottom: 10px;
    color: white;
}

.font-campus {
    font-weight: bold;
}

.mainText-container p {
    font-size: 1em;
    margin: 0;
}




/* Logo */

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.BookShelfLogo {
    font-weight: bold;
}

/* Footer  */

.footer {
    background-color: hsl(0, 0%, 25%);
    color: #fff; 
    padding: 20px 0; 
    text-align: left; 
}

.footer .container {
    max-width: 1200px; 
    margin: 0 auto; 
}

.footer a {
    color: #fff; 
    text-decoration: none; 
}

.footer a:hover {
    text-decoration: underline; 
}

#footerToHome {
    font-weight: bold;

}

/* forms */

.formTitle {
    text-align: center;
    color: #4b9149;
}

.formText {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #4b9149;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(174, 175, 175);
    border-radius: 5px;
}

form .btn {
    width: 100%;
    padding: 10px;
    background-color: #4b9149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form .btn:hover {
    background-color: #a4aca3;
} 

/* FindRequests form */

.formSearchTitle {
    color: #ffffff;
    font-size: medium;
}

.formRequestTitle {
    text-align: left;
    font-size: xx-large;
}


.thead-custom-green{
    background-color: #4b9149;
    color: white;
}

/* Carousel index.html css */
.ReccomendedBooksCarousel{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    
   
}
.ReccomendedBooksCarousel img{
    width: 30%;
    display: none;
    margin: 0 auto;
    

}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 2s;
}
.ReccomendedBooksCarousel button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 9px 12px;
    background-color: hsla(122, 74%, 19%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}


.prevCarousel{
    left: 120px;
}

.nextCarousel{
    right: 120px;

}

.ReccomendedBooksCarousel .prevCarousel:hover,  .ReccomendedBooksCarousel .nextCarousel:hover {
    background-color: #4b9149;
    color: white;
}

/* About Us */

#aboutUsPage{
   
    .aboutUsTitle {
        color: #4b9149;
        font-style: italic;
        font-weight: bold;
        font-size: larger;
    }

    .italic {
        font-style: italic;
    }

    .contactUs {
        color: #4b9149;
    }

    .column {
        width: calc(25% - 20px); 
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; 

      }

      .card {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative; 
        padding-bottom: 70px;
        flex: 1;
        margin: 0 20px 20px 50px;
        border-color: #4b9149;
        border-radius: 10px;
      }

      .card img {
        width:100%;
        height:150px;
        object-fit: cover;
        justify-content: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .container {
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
      }

      .aboutUs_button {
        font-size: 14px; 
        padding: 6px 12px;
        width: 150px;
        /* position: absolute; */
        position: absolute;
        bottom: 10px; 
        left: 50%; 
        transform: translateX(-50%); 
      }

      @media (max-width: 1200px) {
        .column {
          width: calc(50% - 20px); 
        }
      }

      @media (max-width: 768px) {
        .card {
          height: fit-content; 
          width: 200px; 
        }

        .info > * {
          font-size: 12px; 
        }

        .column {
          width: calc(50% - 20px); 
        }
      }

      @media (max-width: 480px) {
        .card {
          height: 300px; 
          width: 150px; 
        }

        .column {
          width: calc(100% - 20px); 
        }
      }

}

/* Buttons */

.SmallButton {
   
    display: inline-block;
 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;

    border: none;
    outline: none;
    border-radius: 5px;
    background: #4b9149;
    color: rgb(255, 255, 255);
}

.SmallButton:hover {
    background: #a4aca3;

}
