{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="aboutUs.css" />
  </head>

  <body>
    <div class="about-section">
      <h1>About Us Page</h1>
      <p>
        As CIT3403 students, we are driven by a passion for innovation and a commitment to enhancing accessibility to knowledge. Our latest endeavor involves the creation of a unique bookstore where individuals can not only access a wide array of books but also have the opportunity to read, rent, and review them. Our aim is to foster a community where information is freely shared, enriching the lives of our patrons and spreading the joy of reading far and wide. 
        Join us on this journey as we endeavor to make literature more accessible and enjoyable for all.</p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/w3images/team1.jpg" alt="Jane" style="width: 50%" />
          <div class="container">
            <h2>Jane Doe</h2>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>jane@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/w3images/team2.jpg" alt="Mike" style="width: 50%" />
          <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>mike@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/w3images/team3.jpg" alt="John" style="width: 50%" />
          <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/w3images/team4.jpg" alt="Emily" style="width: 50%" />
          <div class="container">
            <h2>Emily Smith</h2>
            <p class="title">Marketing Manager</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>emily@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
