{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="aboutUs.css" />
  </head>

  <body>
    <div class="about-section">
      <h1>About Us</h1>
      <p>
        The CampusBookShelf team believes everyone deserves access to books, and with this platform we hope to improve the issue of overpriced and inaccessible books. We are CITS3403 Agile Web Development students who have a passion for the subject, using our skills and knowledge to create a platform for the better good. As avid book readers ourselves we hope to share this passion and knowledge with all students by sharing and extending our bookshelf.  Join our mission to make books more accessible and enjoyable for all by contributing to the Campus Bookshelf!</p>
    </div>
    <br>
    <h2 style="text-align: center"><span class="logo"><span class="font-campus">Campus</span><span class="BookShelfLogo">BookShelf</span></span> Team</h2>
    <br>
    <div id="aboutUsPage">
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="static/images/CamiloAvatarCampusBooks.png" alt="Camilo"  />
          <div class="container">
            <h2 class="aboutUsName">Camilo Lima Castillo</h2>
            <p class="aboutUsTitle"> Server Sage </p>
             <p> Aside from my studies, I'm passionate about reducing environmental impact, and I believe that CampusBookShelf is contributing to this passion. By creating a way to locally exchange books, it reduces  book waste and ensures that the books go to people who actually want them.  </p>
             <p> <span class="contactUs">Favourite Book: </span> "The Lord of the Rings: The Fellowship of the Ring" by <span class="italic">J.R.R. Tolkien</span>.</p>
             <p> <span class="contactUs">Contact: </span> 23364195@campusbookshelf.com.au</p>
            <p><span class="contactUs">Github: </span> Onlinepatron</p>
            <div class="aboutUs_button">
              <a href="/createRequest?title=The%20Lord%20of%20the%20Rings%3A%20The%20Fellowship%20of%20the%20Ring&author=J.R.R.%20Tolkien&genre=Fantasy"><button class="SmallButton">Read Camilo's Favourtie Book</button></a>
            </div>          
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="static/images/jamesAvatarcampusbooks.jpg" alt="James" />
          <div class="container">
            <h2 class="aboutUsName">James Rimmer</h2>
            <p class="aboutUsTitle">HTML Hero</p>
            <p>I am student who enjoys reading in my spare time, CampusBookShelf helps me find any new book I've been looking to read and I hope it can help you too. I definitely recommended browsing the reviews to see what's popular, and you might even find books out of your usual genres that'll spike your interest! </p>
              <p> <span class="contactUs">Favourite Book: </span> "1984" by <span class="italic">George Orwell</span>.</p>
              <p><span class="contactUs">Contact: </span>  22915304@campusbookshelf.com.au</p>
            <p><span class="contactUs">Github: </span> Jimmy141619</p>
            <div class="aboutUs_button">
              <a href="/createRequest?title=1984&author=George%20Orwell&genre=Science%20Fiction"><button class="SmallButton">Read James' Favourite Book</button></a>
            </div>          
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="static/images/mylaAvatarcampusbooks.avif" alt="Myla"/>
          <div class="container">
            <h2 class="aboutUsName">Myla Do</h2>
            <br>
            <p class="aboutUsTitle">CSS Sorcerer</p>
            <p>I value making meaningful connections with other students, to me CampusBookShelf not only helps students save money, but is also a place that fosters a student focused community for readers. I'm able to share my pre-loved books which has helped me make more friends. </p>
            <br>
            <p> <span class="contactUs">Favourite Book: </span> "Pride and Prejudice" by <span class="italic">Jane Austen</span>.</p>
            <p><span class="contactUs">Contact: </span> 23376234@campusbookshelf.com.au</p>
            <p><span class="contactUs">Github: </span> Mylaaado</p>
            <div class="aboutUs_button">
              <a href="/createRequest?title=Pride%20and%20Prejudice&author=Jane%20Austen&genre=Romance"><button class="SmallButton">Read Myla's Favourite Book</button></a>
            </div>          
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="static/images/williamAvatarCampusBooks.webp" alt="William" />
          <div class="container">
            <h2 class="aboutUsName">William Lodge</h2>
            <br>
            <p class="aboutUsTitle">CodeSmith</p>
            <p>I thought of the idea of CampusBookShelf after hearing my friends mention how their class textbooks were overly expensive, and the library had run out of copies. As university students it's important to watch out for each other, and as a team we hope this is a solution. </p>
            <br>
            <p> <span class="contactUs">Favourite Book: </span> "Harry Potter and the Philosopher's Stone" by <span class="italic">J.K Rowling</span>.</p>
            <p> <span class="contactUs">Contact: </span>  22980141@campusbookshelf.com.au</p>
            <p> <span class="contactUs">Github: </span> Log1112</p>
            <div class="aboutUs_button">
              <a href="/createRequest?title=Harry%20Potter%20and%20the%20Philosopher%27s%20Stone&author=J.K.%20Rowling&genre=Fantasy"><button class="SmallButton">Read William's Favourite Book</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
{% endblock %}
