{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Books</h1>
    <p style="text-align: center;">View our CampusBookShelf!</p>

    {% if current_user.is_authenticated and current_user.is_admin %}
        <a href="{{ url_for('admin.upload_book') }}" class="SmallButton">Upload Book</a>
    {% endif %}

    <div class="mb-3">
        <form action="{{ url_for('book.get_books') }}" method="GET">
            <div class="form-group">
                <label for="sort_by">Sort By:</label>
                <select class="form-control" id="sort_by" name="sort_by">
                    <option value="title">Title</option>
                    <option value="rating">Rating (Highest to Lowest)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="genre">Genre:</label>
                <input type="text" class="form-control" id="genre" name="genre" placeholder="Enter genre">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="row">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="BooksImage">
                <img class="card-img" src="{{ book.image_url }}" alt="{{ book.title }}">
                </div>
                <div class="card-body" id="browsebooksform">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.synopsis }}</p>
                    {% if book.reviews %}
                        <p class="card-text"><strong>Reviews:</strong></p>
                        <div class="reviews-container">
                            {% for review in book.reviews %}
                                <p>{{ review.rating_description() }}: {{ review.text }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="card-text">No reviews yet.</p>
                    {% endif %}
                    <a href="{{ url_for('book.get_book', book_id=book.id) }}" class="SmallButton">Details</a>
                </div>
            </div>
        </div>
        
        
    {% endfor %}
    </div>
    
    
</div>
{% endblock %}