{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusBookShelf</title>
</head>
<body>
    <h1>Welcome to CampusBookShelf</h1>
    <p>At CampusBookShelf we're passionate about improving students' experiences with finding and sharing books by providing easy access to all kinds of books, from bestsellers to university textbooks. We believe everyone deserves access to books, and with this platform we hope to improve the issue of overpriced and inaccessible books. Join our mission to make the of books more accessible and enjoyable for all by contributing to the Campus Bookshelf! </p>
    <h2> Recommended Books </h2>
    <p> Request <a href= "https://www.globaladmissions.com/blog/12-books-every-university-student-should-read-in-2024/"> Global Admissions</a> recommended books for University Students: </p>
    
    <br>
    <div class="RecommendedBooksCarousel">
        <div class="RecommendedBooks">
            <div class="ReccomendedBooksCarousel">
                <div class="ReccomendedBooks">
                    <a href="/login">
                    <img class="Rec" src="static/images/GA12DefiningDecade.jpeg" alt="The Defining Decade: Why your twenties matter and how to make the most of them now: Meg Jay">
                    </a>
                    <a href="/login">
                    <img class="Rec" src="static/images/GA12PhysicsOfTheImpossible.jpeg" alt="Physics of the Impossible: A Scientific Exploration into the World of Phasers, Force Fields, Teleportation, and Time Travel: Michio Kaku">
                    </a>
                    <a href="/login">                    
                    <img class="Rec" src="static/images/GA12TheGoldfinch.jpeg" alt="The Goldfinch: Donna Tartt">
                    </a>
                    <a href="/login">
                    <img class="Rec" src="static/images/GA12BornACrime.jpeg" alt="It's Trevor Noah: Born a Crime: Trevor Noah">
                    </a>
                    <a href="/login">
                    <img class="Rec" src="static/images/GA12PsychofMoney.jpeg" alt="The Psychology of Money: Timeless lessons on wealth, greed, and happiness:Morgan Housel">
                    </a>
                    <a href="/login">
                    <img class="Rec" src="static/images/GA12Sapiens.jpeg" alt="Sapiens: A Brief History of Humankind:Yuval Noah Harari ">
                    </a>
                    <a href="/login">
                    <img class="Rec" src="static/images/GA12SecretHistory.jpeg" alt="The Secret History: Donna Tartt ">
                    </a>
                    <a href="/login">
                    <img class="Rec" src="static/images/GA12Wallflower.jpeg" alt="The Perks of Being a Wallflower:Stephen Chbosky">
                    </a>
                    <a href="/login">
                    <img class="Rec" src="static/images/GA12Watchmen.jpeg" alt="Watchmen: Alan Moore, Dave Gibbons">
                    </a>
        </div>
        <button class="prevCarousel" onclick="prevSlide()">&#10094;</button>
        <button class="nextCarousel" onclick="nextSlide()">&#10095;</button>
    </div>
    <br>
    <br>
    <div class="main__find">
        <p> Not what you're looking for? Our bookshelf is endless. </p>
        <a href="//login" class="SmallButton">Request a Book</a>
    </div>
    <br>
    <br>
    <div class="main__content2">
        <h2> Share your book </h2>
        <p> If your bookshelf is full and you're looking for a sustainable way to share your books, you can browse requested books. </p>

        <a href="/login" class="SmallButton">Find Requests</a>  
    </div>
    <br>
    <br>
    <div class="main__review">
        <h2> Share your thoughts </h2>
        <p> LOVE or HATE a book? Leave your thoughts here so that future readers can get a heads up! </p>
        <a href="/login" class="SmallButton">Leave a Review</a>  
    </div>




    <script src="static/js/index.js"></script>
</body>
</html>


{% endblock %}
